{{ $email := or (env "GIT_EMAIL") (promptStringOnce . "email" "What is your email address") -}}
{{ $name := or (env "GIT_NAME") (promptStringOnce . "name" "What is your Github username") -}}
{{ $memo_dir := "Documents/memo/_posts" -}}
{{ if env "CI" -}}
{{   $memo_dir = "Documents/memo/_posts" -}}
{{ else if hasKey . "memo_dir" -}}
{{   $memo_dir = .memo_dir -}}
{{ else -}}
{{   $memo_dir = promptStringOnce . "memo_dir" "Memo directory path under $HOME" "Documents/memo/_posts" -}}
{{ end -}}
{{ $op_account := "" -}}
{{ if env "CI" -}}
{{   $op_account = "" -}}
{{ else if hasKey .  "op_account" -}}
{{   $op_account = .op_account -}}
{{ else -}}
{{   $op_account = promptStringOnce . "op_account" "What is your 1Password account (e.g. my.1password.com, leave empty to skip)" -}}
{{ end -}}

data:
  email: {{ $email | quote }}
  name: {{ $name | quote }}
  memo_dir: {{ $memo_dir | quote }}
  op_account: {{ $op_account | quote }}
