# zsh configuration file
export HISTFILE=$HOME/.zsh_history
export HISTSIZE=10000
export SAVEHIST=10000


setopt APPEND_HISTORY
setopt SHARE_HISTORY
setopt HIST_EXPIRE_DUPS_FIRST
setopt HIST_IGNORE_ALL_DUPS
setopt HIST_REDUCE_BLANKS
setopt EXTENDED_HISTORY

# alias for zsh
alias vim='nvim'
alias g='cd $(ghq list -p | fzf)'
alias vlast='vim "$(ls -1 | tail -n 1)"'

# alis for isucon
alias m='make'
alias ma='m before-bench && sleep 5 && ((m sql-all;) & m bench) && m after-bench; '

{{ if eq .chezmoi.os "linux" }}
# ls command
command -v eza &> /dev/null && alias ls='eza --group --git --group-directories-first' || alias ls='ls --color=auto --group-directories-first -h'
{{ end }}

# Atuin: modern shell history tool
if [ -f "$HOME/.atuin/bin/env" ]; then
  . "$HOME/.atuin/bin/env"
fi

# zsh plugin
command -v sheldon >/dev/null 2>&1 && eval "$(sheldon source)"
command -v starship >/dev/null 2>&1 && eval "$(starship init zsh)"
command -v atuin >/dev/null 2>&1 && eval "$(atuin init zsh)"

# fzf integration
# if (( $+commands[fzf] )); then
#   source <(fzf --zsh)
# fi

# setup when compinit is available
if type compinit >/dev/null 2>&1; then
  autoload -Uz compinit
  compinit -C
fi

